{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/css/password.css">
<div id='content'>
    <form method="post">
        <p>
            Пароль <br>
            <input type="password" class="form-control" name="password" id="">
        </p>
        <p>
            Повторить пароль <br>
            <input type="password" class="form-control" name="repeat_password" id="">
        </p>
        <p>
            <input type="submit" class="btn btn-primary">
        </p>
    </form>
</div>
{% endblock %}