<link rel="stylesheet" href="/static/css/registration_form.css">

{% extends "base.html" %}
{% block content %}
<div id=content>
    <h1 align="center">
        Регистрация
    </h1>
    <p>
        {{message}}
    </p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            Имя<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            Фамилия<br>
            {{ form.surname(class="form-control") }}<br>
            {% for error in form.surname.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            Пароль<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            Повторите пароль<br>
            {{ form.repeat_password(class="form-control", type="password") }}<br>
            {%if error_pas%}
        <div class="alert alert-danger" role="alert">
            {{ error_pas }}
        </div>
        {%endif%}
        {% for error in form.repeat_password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>
</div>
{% endblock%}